<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h1>Form Login</h1>
<form id="form-register">
    <div>
        <label>
            Name:
            <input type="text" name="name" id="name"/>
        </label>
    </div>
    <div>
        <label>
            Email:
            <input type="text" name="email" id="email"/>
        </label>
    </div>
    <div>
        <label>
            Password:
            <input type="password" name="password" id="password"/>
        </label>
    </div>
    <div>
        <button type="submit">Đăng nhập</button>
    </div>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const formRegister = document.getElementById('form-register');
    const name = document.getElementById('name');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    formRegister.addEventListener("submit", async (e) => {
        e.preventDefault();
        console.log("submit form register");

        const data = {
            name: name.value,
            email: email.value,
            password: password.value
        };

        try {
            let res = await axios.post('http://localhost:8080/api/v1/auth/register', data);
            if (res.status === 200) {
                console.log(res.data);
            } else {
                alert("Đăng ký thất bại");
            }
        } catch (e) {
            alert(e.response.data.message)
        }


    })
</script>
</body>
</html>