<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" th:href="@{/admin-lte/plugins/fontawesome-free/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin-lte/dist/css/adminlte.min.css}"/>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form id="form-login">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" id="email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script th:src="@{/admin-lte/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin-lte/dist/js/adminlte.js}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const formLogin = document.getElementById('form-login');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    formLogin.addEventListener("submit", async (e) => {
        e.preventDefault();
        console.log("submit form login");

        const data = {
            email: email.value,
            password: password.value
        };

        try {
            let res = await axios.post('/api/v1/auth/login', data);
            if (res.status === 200) {
                alert("Đăng nhập thành công");
                setTimeout(() => {
                    window.location.href = "/admin/blogs/own-blogs";
                }, 1000);
            } else {
                alert("Đăng nhập thất bại");
            }
        } catch (e) {
            alert(e.response.data.message)
        }
    })
</script>
</body>
</html>
